@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

// variables for colors and font
$maxWidth: 1100px;
$primary: #27374d;
$secondary: #9db2bf;
$bg-primary: #dde6ed;
$bg-secondary: #9db2bf;

$roboto: "Roboto", sans-serif;
$openSans: "Open Sans", sans-serif;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $roboto;
}

@import "header";
@import "footer";
@import "404";
@import "products";
@import "loader";
@import "productDetails";
@import "custom";
